body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
.custom-header-destop {
    background-color:#3399ff;
    color: white;
    height: 50px;
    line-height: 50px;
    padding: 0 150px;
}
.custom-header-destop a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
}
#custom-active {
    color: orange;
}
.custom-header-right {
    float: right;
}
header span {
    cursor: pointer;
}
.custom-header-phone {
    background-color: white;
    color: black;
    display: none;
    justify-content: space-around;
    line-height: 50px;
    width: 100%;
}
.custom-header-phone strong {
    color: #3399ff;
}
/* responsive header */
@media (max-width : 767px) {
    .custom-header-phone {
        display: flex;
    }
    .custom-header-destop {
        display: none;
    }
}
/* banner */
.custom-banner img {
    width: 100%;
}
/* about us */
.custom-aboutus {
    padding: 25px 150px;
    display: flex;
}
.custom-aboutus-header {
    position: relative;
}
.custom-aboutus-header .custom-dash {
    position: absolute;
    top:10px;
}
.custom-dash {
    background-color: #3399ff;
    width: 35px;
    height: 3px;
}
.custom-aboutus-header p {
    margin-left: 40px;
}
.custom-aboutus2 {
    height: 415px;
    flex-basis: 50%;
}
.custom-aboutus1 {
    height: 415px;
    padding-right: 20px;
    flex-basis: 50%;
}
.custom-aboutus2 img {
    width: 100%;
}
/* responsive aboutus */
@media (max-width : 767px) {
    .custom-aboutus {
        flex-wrap: wrap;
        padding: 7px 15px;
    }
    .custom-aboutus1, .custom-aboutus2 {
        flex-basis: auto;
    }
    .custom-aboutus1 {
        height: auto;
    }
}
/* photo */
.custom-photo {
    margin-top: 85px;
    position: relative;
}
.custom-photo1 {
    display: flex;
    height: 400px;
}
.custom-photo1-1 {
    flex-basis: 50%;
    background-image: url("./pictures/Education2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.custom-photo1-2 {
    flex-basis: 50%;
    background-image: url("./pictures/Communication.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.custom-photo2-header {
    position: relative;
}
.custom-photo2-header .custom-photo2-dash {
    position: absolute;
    top:10px;
}
.custom-photo2-dash {
    background-color: white;
    width: 35px;
    height: 3px;
}
.custom-photo2-header p {
    margin-left: 40px;
}
.custom-photo2 {
    position: absolute;
    color: white;
    left: 28px;
    top: 17px;
}
.custom-photo2 img {
    width: 40px;
}
.custom-photo2-shakehand {
    position: relative;
}
.custom-photo2-shakehand img {
    position:absolute;
    left: -46px;
    top: 6px;
    border-radius: 50%;
    height: 40px;
}
.custom-photo2-shakehand p {
    font-size: 12px;    
}
.custom-photo2-books p {
    font-size: 12px;
}
.custom-photo2-books {
    position: relative;
}
.custom-photo2-books img {
    position:absolute;
    left: -46px;
    border-radius: 50%;
}
.custom-photo1-2 {
    position: relative;
}
/* responsive aboutus */
@media (max-width : 991px){
    .custom-photo1 {
        flex-wrap: wrap;
        height: 800px;
    }
    .custom-photo1-1, .custom-photo1-2 {
        flex-basis: 100%;
    }
    .custom-photo2-shakehand, .custom-photo2-books {
        margin-left: 40px;
    }
}

/* News */
.custom-news {
    padding: 0 150px;
    margin-top: 20px;
}
.custom-news-header {
    position: relative;
}
.custom-news-header .custom-dash {
    position: absolute;
    top:10px;
}
.custom-news-header p {
    margin-left: 39px;
}
.custom-block-large {
    display: flex;
    align-items: flex-start;
}
.custom-block-large a {
    color:black;
    text-decoration: none;
}
.custom-block-large .custom-readmore {
    font-size: 13px;
}
.custom-block-1, .custom-block-2 {
    width: calc(33.33% - 13.33px);
    margin-right: 20px;
    border: lightgray solid 1px;
}
.custom-block-3 {
    width: calc(33.33% - 13.33px);
    border: lightgray solid 1px;
}
.custom-block-content {
    padding: 5px 2px;
}
.custom-block-1-img {
    background-image: url("./pictures/News\ 2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}
.custom-block-2-img {
    background-image: url("./pictures/News\ 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}
.custom-block-3-img {
    background-image: url("./pictures/Class.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}
@media (max-width : 767px) {
    .custom-news {
        padding: 0 15px;
    }
    .custom-block-large {
        flex-wrap: wrap;
    }
    .custom-block-1, .custom-block-2, .custom-block-3 {
        flex-basis: 100%;
    }
    .custom-block-1, .custom-block-2 {
        margin-right: 0;
    }
    
}
/* contacts */
form {
    padding: 25px 150px;
}
.custom-contact-header {
    position: relative;
}
.custom-contact {
    display: flex;
}
.custom-contact-details, .custom-contact-map {
    width: 50%;
}
.custom-contact-header .custom-dash {
    position: absolute;
    top: 10px;
}
.custom-contact-header p {
    margin-left: 39px;
}
.custom-contact-map {
    background-image: url("./pictures/Map.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.custom-contact-input {
    display: flex;
    margin-top: 10px;
} 
.custom-contact-input input {
    width: calc(33.33% - 5px);
    margin-right: 5px;
    border: solid 1px lightgray;
    border-radius: 5px;
}
textarea {
    width: calc(100% - 5px);
    margin-top: 16px;
    height: 150px;
    border: solid 1px lightgray;
    border-radius: 5px;
}
.custom-button button {
    background-color: #FDB32B;
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: none;
}
.custom-button {
    text-align: right;
    margin-right: -50px
}
@media (max-width:767px) {
    .custom-form {
        padding: 7px 15px;
    }
    .custom-contact {
        flex-wrap: wrap;
    }
    .custom-contact-details, .custom-contact-map {
        width: 100%;
    }
    .custom-button {
        text-align: center;
        margin-right: 0;
    }
    .custom-contact-map {
        height: 162px;
        margin-top: 20px;
    }
}
/* footer */
footer {
    background-color: black;
    font-size: 12px;
    line-height: 19px;
}
.custom-footer {
    color: white;
    display: flex;
    padding: 10px 150px;
}
footer a {
    text-decoration: none;
    color: white;
}
.custom-footer-block {
    width: 25%;
}
.custom-footer-block input {
    background-color: black;
}
.custom-copyright {
    color: white;
    text-align: center;
    margin:0;
}
@media (max-width: 767px) {
    .custom-footer {
        flex-wrap: wrap;
        padding: 7px 15px;
    }
    .custom-footer-block {
        width: 100%;
    }
}