*{
    padding: 0;
    margin: 0;
}
.menu-custom a {
    text-decoration: none;
    color: white;
}
.menu-custom ul {
    list-style-type: none;
    display: inline;
}
.menu-custom li {
    display: inline;
}
.menu-custom li a {
    padding-right: 8px;
    font-size: 13px;
}
.menu-custom li a:hover {
  color: #f4b230;
}
.menu-custom {
    background-color: #0072d3;
    padding: 10px 114px;
}
.name-menu {
    font-size: 20px;
    margin-left: 14%;
    margin-right: 451px;
}
.content-custom {
    width: 100%;
    height: 350px;
    margin-top: 33px;
    margin-bottom: 40px;
}
.content-left   {
    width: 21%;
    height: 310px;
    float: left;
    padding-left: 28%;
    padding-right: 39px; 
}
.content-right   {
    width: 21%;
    height: 310px;
    float: left;
}
.content-right img {
    height: 100%;
    width: 100%;
}
.custom-education {
    width: 100%;
    height: 485px;
}
.custom1 {
    height: 485px;
    float: left;
    width: 50%;
    z-index: 1;
}
.custom2 {
    height: 485px;
    float: left;
    width: 50%;
    z-index: 1;
}
.custom3 {
    z-index: 2;
    height: 28px;
    position: relative;
    left: 48.5%;
    bottom: 385px;
    border-radius: 24px;
}
.custom4 {
    z-index: 2;
    height: 37px;
    position: relative;
    left: 45.7%;
    bottom: 304px;
    border-radius: 24px;
}
.custom5 {
    z-index: 2;
    position: relative;
    left: 55%;
    top: -493px;
    white-space: pre-line;
}
.custom5 p {
    color: white;
    opacity: 0.9;
}
.custom5 a {
    text-decoration: none;
    color: white;
}
.custom-latest {
    padding-left: 26%;
    margin-top: 50px;
    max-width: 100%;
}
.custom-list div {
    width: 20%;
    float: left;
    margin-right: 48px;
    
}
.custom-list div img {
    width: 100%;
}
.custom-list div a{
   text-decoration: none;
   color: black;
}
.custom-contact div {
    float: left;
}
.custom-form {
    width: 27%;
}
.custom-form form input[type=text] {
    height: 38px;
    width: 25%;
    margin-right: 23px;
    margin-bottom: 17px;
}
.custom-contact {
    padding-left: 26%;
    width: 51%;
    margin-top: 55px;
}
.custom-contact img {
    width: 52%;
}
.custom-form {
    width: 46%;
}
.custom-form form button {
    position: relative;
    left: 83%;
    background-color: #ffb400;
    color: white;
    border-radius: 7px;
}
.custom-adress {
    margin-top: 355px;
    display: flex;
}
.custom-adress div {
    width: 20%;
    margin-right: 30px;
}


