*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    
}
.header{
    height: 65px;
    background-color: #1274D0;
    display: flex;
}
.header-1{
    width: 50%;
    text-align: center;
    font-size: 25px;
}
.header-1 ul li{
    margin:20px 0;
    list-style: none;
    color: white;
}
.header-2{
    display: flex;
    float: left;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    
}
.header-2 ul li{
    list-style: none;
    display: inline-block;
    margin:20px 0 20px 20px;
    
}
a{
    text-decoration: none;
}
.home{
    color: burlywood;
}
.white{
    color: white;
}
.img-1{
    position: static;
    width: 100%;
}
.img-11{
    position: relative;
    width: 100%;
}
/*  */
.banner{
    margin: 0 200px;
    padding: 38px 0 ;
    display: flex;
    flex-wrap:wrap;
}
.row-1{
    width: 48%;
    margin: 0 2%;
}
.row-1 strong{
    font-size: 23px;
}
.row-2{
    width: 48%; 
}
.row-2 img{
    width: 90%;
}
/*  */
.banner-2{
    margin: 50px 0;
    height: 600px;
    display: flex;
    flex-wrap:wrap;
}
.row-3{
    width: 50%;
    background-image: url(anh3.jpg);
    background-position: center;
    background-size: cover;
}
.row-4{
    width: 50%;
    background-image: url(anh10.jpg);
    background-position: center;
    background-size: cover;
}
.row-41{
    padding-top:10% ;
}
.row-41 h3{
    margin-left: 40px;
    margin-bottom: 10px;
    color: white;
}
.row-421 img{
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px -20px;
    border-radius: 50%;
}
.row-42{
    display: flex;
    align-items: center;
}
.row-422{
    padding-left: 6px;
    margin-top: -5px;
    color: white;
}
.row-43{
    display: flex;
    align-items: center;
}
/*  */
.banner-3{
    margin: 50px 200px;
    padding: 10px;
    height: 550px;
}
.new{
    margin-left: 2%;
}
.new-1{
    display: flex;
    flex-wrap:wrap;
    margin-top: 5px;
}
.new-2{
    width: 31%;
    margin-left: 2%;
    height: 50%;
    border:1px solid #ced4da;
}
.new-2 img{
    width: 100%;
}
.new-2 h3{ 
    font-size: 23px;
    padding: 5px;
}
.new-2 p{ 
    font-size: 18px;
    margin: 10px 2px;
}
.new-3{
    width: 31%;
    margin-left: 2%;
    border:1px solid #ced4da;
}
.new-3 img{
    width: 100%;
}
.new-3 h3{ 
    font-size: 24px;
    padding: 5px;
}
.new-3 p{ 
    font-size: 20px;
    margin: 10px 2px ;
}
/*  */
.banner-4{
    margin: 100px 200px 0 ;
    
}
.new-z{
    padding: 10px;
    height: 310px;
    display: flex;
}
.new-a, .new-b{
    width: 48%;
}
.new-4{
    margin-top:10px ;
}
.new-4 p{
    font-size: 20px;
}
.input-1{
    display: flex;
}
.input-1 input{
    width: 30%;
    margin: 5px 3% 10px 0;
    padding: 10px 5px;
    border-radius: 5px;
    border:1px solid #ced4da;
}
textarea{
    width: 97%;
    height: 150px;
    border-radius: 2px;
    border:1px solid #ced4da;
}
.new-b img{
    width: 100%;
    height: 160px;
}
.new-s{
    width: 100%;
    text-align: center;
}
.new-s input{
    font-size: 20px;
    background-color: #ffc107;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
/*  */
.end{
    background-color: black;
    width: 100%;
    height: 250px;
}
.end-1{
    display: flex;
    margin:0 200px;
    padding-top: 30px;
}
.end-11, .end-12, .end-13, .end-14{
    width: 24%;
    color: white;
    margin-left: 1%;
}
.end-11 p{
    font-size: 12px;
    line-height: 30px;
}
.end-12 a, .end-13 a{
    color: white;
    text-decoration: none;
}
h4{
    margin-bottom: 10px;
}
.input-3 {
    background-color: black;
    box-shadow: white;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
}
.input-3 input{
    background-color: black;
    border: none;
}
button{
    padding: 5px;
}
hr{
    border: 1px solid white;
    margin-top: 15px;
}
.last{
    padding: 20px;
    color: white;
    text-align: center;
}

