* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid red;
    zoom: 1;
}
div::after {
    content:".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
p.first {
    background: #f3f3cf;
    float: left;
    height: 100px;
}

p.second {
    background: #e0e0fc;
    float: right;
    height: 100px;
}

p.third {
    background: #befcc9;
    height: 100px;
    margin-top: 20px;
    clear:both;
}