html {
    overflow-x: hidden;
    font-size: 10px;
}
body {
    margin: 0;
    box-sizing: border-box;
}
.main-nav {
    background-color: rgb(2, 114, 211);
    height: 3rem;
    display: flex;
}
.main-nav .main-nav--logo {
    color: #fff;
    width: 50%;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 1.8rem;
}
.main-nav .main-nav--logo p {
    margin-top: 0px;
}
.main-nav .main-nav--logo span {
    text-transform: capitalize;
}
.main-nav .main-nav--menu ul {
    display: flex;
    float: left;
    padding-left: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-nav .main-nav--menu ul li {
    color: #fff;
    padding: 0 .5rem;
    display: inline;
    text-transform: uppercase;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
}
.main-nav .main-nav--menu .menu-container .home {
    text-transform: capitalize;
    color: rgb(255, 180, 62);
}
.main-cover img {
    width: 100vw;
    object-fit: cover;
    height: 30rem;
}
.section-about {
    margin-top: 2rem;
    height: 25rem;
    display: flex;
    width: 100vw;
}
.section-about .section-about--left {
    width: 50%;
}
.section-about .section-about--left .section-left--container {
    float: right;
    width: 50%;
    text-align: left;
    margin-right: 2rem;
}
.section-about .section-about--left .about {
    text-transform: uppercase;
}
.section-about .section-about--left .about-content {
    font-weight: bold;
    font-size: 1.2rem;
}
.section-about .section-about--left .about-foot {
    font-size: 1rem;
    font-weight: lighter;
}
.section-about .section-about--right {
    float: left;
    margin-right: 5rem;
    width: 50%;
    object-fit: contain;
}
.section-about .section-about--right img {
    height: 25rem;
    width: auto;
}
.section-business {
    width: 100vw;
    margin-top: 5rem;
    height: 25rem;
    display: inline-flex;
}
.section-business--left {
    width: 50%;
}
.section-business--left img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.section-business--right {
    background-image: url(Communication.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    object-fit: cover;
    margin: 0;
    color: #fff;
}
.section-business--right .business-content {
    margin-top: 2rem;
    margin-left: 2rem;
}
.section-business--right .business-content p {
    margin-top: .5rem;
}
.section-business--right .business-content .business-content--bold {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: .75rem;
}

