html {
    overflow-x: hidden;
    font-size: 10px;
}
body {
    margin: 0;
    box-sizing: border-box;
}
.main-nav {
    background-color: rgb(2, 114, 211);
    height: 6rem;
    display: flex;
}
.main-nav .main-nav--logo {
    color: #fff;
    width: 30%;
    padding-left: 20vw;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 1.8rem;
}
.main-nav .main-nav--logo p {
    margin-top: 0px;
}
.main-nav .main-nav--logo span {
    text-transform: capitalize;
}
.main-nav .main-nav--menu {
    width: 30%;
    padding-right: 20vw;
}
.main-nav .main-nav--menu .menu-container {
    max-width: 29vw;
    padding-left: 1vw;
}
.main-nav .main-nav--menu ul {
    display: flex;
    float: left;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-nav .main-nav--menu ul li {
    color: #fff;
    padding: 0 .5rem;
    display: inline;
    text-transform: uppercase;
    font-size: 1.2rem;
    height: 6rem;
    line-height: 6rem;
}
.main-nav .main-nav--menu ul li:hover {
    cursor: pointer;
}
.main-nav .main-nav--menu .menu-container .home {
    text-transform: capitalize;
    color: rgb(255, 180, 62);
}
.main-cover img {
    width: 100vw;
    object-fit: cover;
    height: 35rem;
}
.section-about {
    margin-top: 2rem;
    height: 25rem;
    display: flex;
    width: 100vw;
}
.section-about .section-about--left {
    width: 50%;
}
.section-about .section-about--left .section-left--container {
    float: right;
    width: 60%;
    text-align: left;
    margin-right: 2rem;
}
.section-about .section-about--left .about {
    text-transform: uppercase;
}
.section-about .section-about--left .about-content {
    font-weight: bold;
    font-size: 1.2rem;
}
.section-about .section-about--left .about-foot {
    font-size: 1rem;
    font-weight: lighter;
}
.section-about .section-about--right {
    float: left;
    width: 50%;
    object-fit: contain;
}
.section-about .section-about--left .section-left--container {
    width: 60%;
}
.section-about .section-about--right img {
    height: 25rem;
    width: auto;
}
.section-business {
    width: 100vw;
    margin-top: 5rem;
    height: 30rem;
    display: inline-flex;
}
.section-business--left {
    width: 50%;
}
.section-business--left img {
    height: 30rem;
    width: 100%;
}
.section-business--right {
    background-image: url(Communication.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    object-fit: cover;
    margin: 0;
    color: #fff;
}
.section-business--right .business-content {
    margin-top: 2rem;
    margin-left: 2rem;
}
.business-content:first-child {
    font-size: 1.2rem;
}
.section-business--right .business-content p {
    margin-top: 0.25rem;
}
.section-business--right .business-content .business-content--bold {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0rem;
}
.section-news {
    margin-top: 2rem;
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
    height: fit-content;
}
.news-container {
    display: flex;
    justify-content: space-between;
}
.section-news .news-container .news-col {
    margin-right: 1rem;
    float: right;
    width: 25vw;
    border: solid 1px gainsboro;
    height: fit-content;
}
.news-col:last-of-type {
    margin-right: 0px !important;
}
.section-news .news-container .news-col .thumb-img {
    height: 10rem;
}
.section-news .news-container .news-col .thumb-img img {
    height: 10rem;
    object-fit: cover;
    width: 100%;
}
.news-text--small {
    font-size: 1rem;
}
.section-news .news-text {
    color: grey;
    font-size: 1rem;
    margin-top: .5rem;
}
.section-news .news-text i {
    color: #000;
    font-size: 1rem;
    line-height: 1rem;
}
.section-news .news-text2 {
    color: grey;
}
.section-news .news-text .news-text--bold {
    color: #000;
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.section-news .news-container {
    display: flex;
    justify-content: space-between;
}
.section-news .news-container .news-col .news-content .news-title {
    font-weight: bold;
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.section-news .news-container .news-col .news-content {
    margin-left: .5rem;
}
.section-contact {
    margin-top: 2rem;
}
.contact-title {
    font-size: 1.5rem;
    color: grey;
}
.contact-text {
    font-weight: bold;
    font-size: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.section-contact--container {
    display: flex;
    margin-left: 20vw;
    margin-right: 20vw;
}
.section-contact--left {
    padding-right: 1rem;
   width: 50%; 
}
.section-contact--right {
    padding-left: 1rem;
    width: 50%;
}
.section-contact--right img {
    object-fit: cover;
    width: 100%;
}
.section-contact--left .contact-form .user-info {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.section-contact--left .contact-form .user-info input {
    color: gainsboro;
    border: solid 1px gainsboro;
    width: 27%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    padding-left: .5rem;
}
.user-info {
    margin-bottom: 1rem;
}
.user-mess textarea {
    color: gainsboro;
    border: solid 1px gainsboro;
    width: 99%;
    line-height: 2rem;
    font-size: 1rem;
    padding-left: .5rem;
}
.section-contact--button {
    text-align: center;
    margin-top: 1rem;
    height: 2.5rem;
}
.section-contact--button button {
    background-color: rgb(255, 180, 1);
    border: none;
    color: #fff;
    border-radius: .5rem;
    height: 3rem;
    width: 12rem;
}
.section-contact--button button:hover {
    cursor: pointer;
}
.footer {
    margin-top: 2rem;
    background-color: #000;
    color: grey;
}
.footer-container {
    margin-top: 2rem;
    display: flex;
    margin-left: 20vw;
    margin-right: 20vw;
}
.footer-left {
    width: 50%;
    float: left;
    display: flex;
}
.footer-left--col {
    width: 50%;
    float: left;
    margin-right: 1rem;
}
.footer-right--col {
    margin-left: 1rem;
    width: 50%;
    float: left;
}
.footer-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.footer-headtext {
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.whitetext {
    color: #fff;
}
.footer-left--col p {
    margin-bottom: 1rem;
}
.footer-container ul {
    margin-left: 1.5rem;
}
.footer-submit--form {
    background-color: #000;
    width: 100%;
    margin-top: 1rem;
    display: inline-flex;
    justify-content: space-between;
}
.footer-submit--form input {
    color: gainsboro;
    font-size: .75rem;
    background-color: #000;
    width: 100%;
    border: none;
    border-bottom: 1px solid gainsboro;
}
.footer-submit--form button {
    font-size: .75rem;
    width: fit-content;
}
hr {
    border: none;
    height: .5px;
    background-color: grey;
    margin-bottom: 0px;
}
.footer-copyright {
    text-align: center;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
}
