a:hover {
    text-decoration: none;
}

.header {
    background-color: #0072D3;
    padding-top: 26px;
    padding-bottom: 26px;
}

.header_logo {
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.header_logo:hover {
    color: #fff;
}

.header_link a {
    color: #fff!important;
    font-weight: 600;
}

.header_link.active a {
    color: #ECAB4F!important;
}

.header_link a:hover {
    color: #ECAB4F!important;
}

.header_search {
    color: #fff;
    font-weight: 600;
}

.header_search:hover {
    color: #ECAB4F;
}

.banner-header img {
    width: 100%;
} 

.about-us {
    padding-top: 30px;
    padding-bottom: 60px;
}

@media screen and (max-width:768px) {
    .about-us_all {
        display: block;
    }
}

.about-us_image img {
    width: 100%;
}

.our-business {
    display: flex;
    color: white;
}

@media screen and ( max-width:768px ) {
    .our-business {
        display: block;
    }
}

.our-business img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.our-business_img-1 {
    width: 50%;
}

.our-business_img-2 {
    flex: 1;
}

.our-business_img2 {
    z-index: 1;
}

.our-business_content {
    z-index: 2;
    margin-top: -339px;
}
.our-business_content1 {
    display: flex;
    margin-bottom: 20px;
}

.our-business_item img {
    width: 50px;
    height: auto;
    object-fit: contain;
}

.our-business_icon {
    margin-left: -28px;
    border-radius: 50%;
    margin-right: 10px;
}

.our-business_icon img {
    border-radius: 50%;
}

.new_img {
    border: 0.5px solid black;
}

.new_img img {
    width: 100%;
    height: 200px;
}

.new_content {
    padding-top: 30px ;
}
 
.contact_form {
    margin-bottom: 10px;
}

.contact_form form {
    display: flex;
}

.contact_form form input {
    margin-right: 10px;
    width: 33%;
}

.contact_mapimg img {
    width: 100%;
    height: 100%;
}

.contact_all {
    padding-top: 30px;
}

.contact_messenger input {
    width: 98%;
    height: 182px;
}

.send-messenger {
    text-align: center;
    padding-top: 20px;
    color: white;
}

.send-messenger input {
    background-color: #FFB400;
    border: none;
    border-radius: 5px;
}

.footer {
    background-color:#1B1919;
    color: white;
    margin-top: 50px;
}

.footer-allcontent {
    padding-top: 20px;
}

.footer-contentdown {
    text-align: center;
}

@media only screen and (max-width:768px) {
    .new_infor {
        display: block;
    }
}

@media (max-width: 768px) {
    .col-md-6 {
        max-width: 100%;
    }
}

@media screen and (max-width:768px) {
    .our-business_img-1 {
        width: 100%;
    }
}

