* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid red;
    height: 100px;
    margin: 30px 40px;
    position: relative;
}

p.tagA {
    background: #f3f3cf;
    position: absolute;
    height: 30px;
    width: 150px;
    left: 20px;
    bottom: 20px;
}

p.tagB {
    background: #e0e0fc;
    height: 30px;
    width: 180px;
}