fieldset{
    color: black;
    padding: 15px 8px 60px;
    border: 2px solid #000000 ;

}
input{
  width: 50%;
  padding: 9px;
  border: 1px solid #000000;
  resize: vertical;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}