body{
   font-family: Arial;
   font-size: 14px;
   width: 1200px;
   margin: 0px auto;
}
#menu_top{
   background-color: #0072D3;
   height: 70px;

}
#banner {
   height: auto;
   width: 1200px;
}
#main1 {
   height: 280px;
   width: 800px;
   list-style: none;
   margin: 0px;
   padding-left: 200px;
   padding-top : 30px;
   padding-bottom: 80px;

}
#main2 {

   height:400px;
   width: 1200px;

}
#main23 {
   margin-top: 40px;
   height: 60px;
   width: 1200px;
}
#main3 {
   height: 500px;
   width: 1200px;
}
#main4 #left {
   width: 400px;
   float: left;
   min-height: 400px;
   margin-left: 200px;
   clear: left;
}
#main4 #left #left1 {
   height: 100px;
}
#main4 #left #left2 {
   height: 300px;
}
#main4 #left #left2 #left2-1{
   float: left;
   margin-bottom: 10px;
}
#main4 #left #left2 #left2-1 span {
   padding-right: 25px;
}
#main4 #left #left1 h2{
font-size: 15px;
}
#main4 #right{
   width: 400px;
   float: left;
   min-height: 400px;
}

#footer {
   background: #1B1919;
   width: 1200px;
   text-align: center;
   height: 170px;
   color: white;
   clear:left;
   line-height: 50px;

}
#footer7{
   background-color: black;
   width: 1200px;
   height: 50px;
   margin-top: 1px;
   line-height: 50px;
   margin-bottom: 50px;
}
#footer7 b {
color: white ;
padding-left: 450px;
}
#menu_top ul {
   margin: 0px;
   padding: 0px;
   
}
#menu_top ul li {
   list-style: none;
   float: left;
}
#menu_top ul li a {
   text-decoration: none;
   display: block;
   height: 70px;
   line-height: 70px;
   color: white;
   padding: 0px 10px 12px 10px;
}
#menu_top ul li a.home {
color: rgb(238, 238, 7);
}
#menu_top ul li a.inc{
   padding-left: 200px;
   padding-right: 300px;
   font-size: 25px;

}
#menu_top ul li a:hover{
   color: red;
   font-weight: bold;
}
#banner img{
width: 1200px;
margin-top: -20px;
}
#main1 img{
   float: right;
height: 300px;
}
#main1 h2{
   font-size: 15px;

}
#main1 h2:hover{
   color: red;
   font-weight: bold;
}

#main1 span:hover{ 
  color: red;
 font-weight: bold;
}
#main1 span{
   margin-top: 10px;

}

#main2 #img1{
   background-image: url('img1/Education2.jpg');
   background-size: 600px 400px;
   background-repeat: no-repeat;
   width: 600px;
   height: 400px;
   float: left;

}

#main2 #img2{
   background-image: url('img1/Communication.jpg');
   background-repeat: no-repeat;
   width: 600px;
   height: 400px;
   float: right;
   color: white;
}

#main2 #img2 ul{
   margin: 0px;
   padding: 0px;
}
#main2 #img2 ul li {
   list-style: none;
   clear: left;
   float: left;
}
#main2 #img2 ul li img {
   float: left;
   margin-right: 10px;
   margin-top: 55px;
   margin-left: -25px;
   width: 50px;
   height: 50px;
   border-radius: 50px;
}
#main2 #img2 p {
   font-size: 14px;
   margin-left: 32px;
   margin-top: 32px;
   margin-bottom: -5px;
}
#main3 ul {
   margin-left:160px;
}
#main3 ul li{
   list-style: none;
   display: inline-block;
   height: 380px;
   width: 250px;
   border: 1px solid rgb(207, 202, 202);
   float: left;
   margin-right: 20px;
}
#main3 ul li img{
 margin-bottom: 10px;
 height: 150px;
 width: 250px;
}
#main3 ul li a{
   text-decoration: none;
}

#main3 ul li a h2 {
   margin-left: 10px;
   font-size: 16px;
   margin-top: -10px;
   color: black;

}
#main3 ul li a p{
   margin-left: 10px;
   color: black;
   margin-top: -20px;
}
#main3 ul li a h2:hover{
   color: red;
   font-weight: bold;
}
#main3 ul li a p:hover{
   color: red;
}
#main3 ul #li1{
   height: 240px;
}
#main3 ul #li2{
   height: 240px;
}

#main23 h1 {
 margin-left: 200px;
 margin-top: 10px;
}
#main23 p {
   margin-left: 200px;
}
#main4 #right img{
   width: 400px;
   height: 150px;
}

#main4 #left #left1 p.mas{
  padding-left: 300px;
}

#footer #footer1 {
   margin-left: 160px;
   height: 170px;
   width: 250px;
   float: left;
   color: white;
  line-height: 20px;
  margin-right: 20px;
  text-align: left;
}
#footer #footer2 {
   height: 170px;
   width: 150px;
   float: left;
color: white;
line-height: 20px;
margin-right: 20px;
text-align: left;
}
#footer #footer2 ul li{
   list-style: none;
   text-align: left;
   margin-left: -40px;
}
#footer #footer3 ul li{
   list-style: none;
   text-align: left;
   margin-left: -40px;
}
#footer #footer2 ul li a{
   text-decoration: none;
   color: white;
}
#footer #footer3 {
   height: 170px;
   width: 150px;
   float: left;
   color: white;
   line-height: 20px;
   margin-right: 20px;
   text-align: left;
}
#footer #footer3 ul li a{
   text-decoration: none;
   color: white;
}
#footer #footer4 {
   height: 170px;
   width: 250px;
   float: left;
color: white;
line-height: 20px;
text-align: left;
}
#mas {

   height: 50px;
   width: 1200px;
   margin-top: -110px;
   margin-bottom: 50px;
}
#mas p {
   margin-left: 330px;
}
#main4 #left #left1 a{
   text-decoration: none;
}
#main4 #left #left1 a:hover{
   color: red;
 font-weight: bold;
}
#main23 a{
   text-decoration: none;
}
#main23 a:hover{
   color: red;
 font-weight: bold;
}
#main1 span span{
   color: cornflowerblue;
}
#main23 a p span{
   color: cornflowerblue ;
}
#main4 #left #left1 p span{
   color: cornflowerblue;
}
#main1 span{
   text-align: left;
}