*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: inline-flex;
    background-color: blue;
    width: 100%;
    padding: 20px 0px;
}
.logo{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    padding-left: 50px;
}
.list-menu li{
    list-style: none;
    display: inline-flex;
    text-decoration: none;
}

.header .list-menu{
    right: 50px;
    position: absolute;
}

.list-menu li a{
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    padding: 0 10px;
}

#thumbnail{
    background-image: url("images/students.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: cover;
  
}

/*ABOUT US*/
.aboutus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 50px 12em;
}

#line{
    width: 45px;
    height: 3px;
    background-color: blue;
    position: absolute;
    margin-top: 20px;
}

.background-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.background-two img{
    width: 100%;
    height: 100%;
}

.business{
    background-image: url("images/Communication.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.business ul li{
    list-style: none;
    display: inline-flex;
    position: relative;
    padding: 10px 0;
}
.business img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/*News*/
.news{
   padding: 50px 10em;
}
.content-news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.content-news img{
    width: 100%;
    height: 100%;
}

.contact img{
    width: 100%;
    height: auto;
}
.content-news a{
    text-decoration: none;
    color: #000000;

}

.content-news div{
    border: 1px solid #000000;
}

.content-news a h5{
    font-size: 20px;
    padding: 10px;
}

.content-news a p{
    font-size: 15px;
    padding: 10px;
}

/*Contact*/
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
}

.contact form input{
     padding: 10px;
     margin-right: 10px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2.5em 10em;
    grid-column-gap: 10px;
    background-color: #000000;
    color: #ffffff;
}

.footer h4{
    padding-bottom: 10px;
}

.footer ul li{
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    color: #ffffff;
}
