body {
    margin: 0 auto;
    font-size: 16px;
}
.main {
    margin: 0 auto;
    text-align: center;
}
.main-container div {
    display: block;
}
.minh-spec, .toan-spec {
    margin: 2rem auto;
}
.excercise2 {
    margin-top: 2rem;
}
.excercise2 p:first-of-type {
    font-size: 2rem;
}