li {
  list-style: none;
}

.navbar {
  justify-content: space-between;
}

.hide-icon-search {
  display: none;
}

.show-icon-search {
  display: none;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-10 {
  margin-bottom: 20px !important;
}

.title {
  font-size: 14px;
  position: relative;
  padding-left: 10px;
  margin-left: 40px;
}

.title::before {
  top: 10px;
  left: -40px;
  position: absolute;
  content: "";
  background-color: #0072d3;
  width: 40px;
  height: 4px;
}

@media only screen and (max-width: 576px) {
  .hide-icon-search {
    display: block;
  }

  .mt-100 {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 768px) {
  .mt-100 {
    margin-top: 50px !important;
  }
}

@media only screen and (min-width: 769px) {
  .show-icon-search {
    display: block;
  }
}

/* Header */

header .navbar {
  background-color: #0072d3;
}

header .navbar .navbar-brand {
  color: white !important;
}

header .navbar .collapse ul li .nav-link {
  color: white;
}

header .navbar .collapse ul .active .nav-link {
  color: white;
}

/* Main */

.main .new,
.about,
.contact {
  width: 60%;
  margin: 0 auto;
}

/* Slide */

.main .slide img {
  width: 100%;
}

/* About */

.main .about h6 {
  font-weight: bold;
}

.main .about p {
  font-size: 10px;
}

/* Banner */

.main .business .d-flex .img-right {
  background-image: url(../image/Communication.jpg);
  width: 100%;
  padding-top: 20px;
}

.main .business .d-flex .img-right .d-flex .content {
  color: white;
}

.main .business .d-flex .img-right .d-flex .content p {
  font-size: 10px;
  max-width: 100%;
}

@media only screen and (max-width: 576px) {
  .main .business .d-flex div {
    width: 100%;
  }

  .main .business .d-flex .img-left img {
    height: 300px;
    width: 100%;
  }

  .main .business .d-flex .img-right {
    height: 300px;
  }

  .main .business .d-flex .img-right .d-flex .img {
    margin-left: 20px;
    margin-right: 10px;
    height: 50px;
    width: 10%;
    justify-self: center;
    align-self: center;
  }

  .main .business .d-flex .img-right .d-flex .img img {
    width: 100%;
    border-radius: 50%;
  }

  .main .business .d-flex .img-right .d-flex .content {
    max-width: 100%;
    text-align: center;
  }

  .main .business .d-flex .img-right .d-flex .content .title {
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  .main .business .d-flex div {
    width: 100%;
  }

  .main .business .d-flex .img-left {
    height: 300px;
    width: 100%;
  }

  .main .business .d-flex .img-left img {
    width: 100%;
    height: 100%;
  }

  .main .business .d-flex .img-right {
    height: 300px;
  }

  .main .business .d-flex .img-right .d-flex .img {
    margin-left: 20px;
    margin-right: 10px;
    height: 50px;
    width: 10%;
    justify-self: center;
    align-self: center;
  }

  .main .business .d-flex .img-right .d-flex .img img {
    width: 100%;
    border-radius: 50%;
  }

  .main .business .d-flex .img-right .d-flex .content {
    max-width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .main .business .d-flex div {
    width: 50%;
  }
  .main .business .d-flex .img-left img {
    height: 400px;
    width: 100%;
  }

  .main .business .d-flex .img-right {
    height: 400px;
    flex: 1;
  }

  .main .business .d-flex .img-right .d-flex .img {
    margin-left: -30px;
    margin-right: 10px;
    height: 50px;
    width: 10%;
  }

  .main .business .d-flex .img-right .d-flex .img img {
    width: 100%;
    border-radius: 50%;
  }

  .main .business .d-flex .img-right .d-flex .content p {
    max-width: 100%;
  }
}

/* New */

.main .new h6 {
  font-size: 30px;
}

/* Contact */

@media only screen and (max-width: 576px) {
  .main .contact input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .main .contact input[type="button"] {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .main .contact input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .main .contact input[type="button"] {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 769px) {
  .main .contact input[type="text"] {
    width: 30%;
  }

  .main .contact .d-flex {
    margin-bottom: 20px;
  }
}

.main .contact input[type="button"] {
  background: orange;
  border-radius: 5px;
  border: outset 2px orange;
  outline: none;
  cursor: pointer;
}

/* Footer */

footer {
  padding-top: 70px;
  font-size: 12px;
  background-color: black;
  color: white;
  width: 100%;
}

footer .copyright::before {
  content: "";
  background: white;
  width: 100%;
  height: 1px;
  margin: 20px 0px;
}

footer a {
  color: white;
}

footer ul .header {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  list-style: none;
}

footer ul li {
  list-style: square;
}
