@media only screen and (min-width:768px ) and (max-width:1200px) {
    .header-1{
        width: 30%;
    }
    .header-2{
        width: 70%;
    }
    .banner{
        margin: 0 20px;
        padding: 38px 0 ;
        display: flex;
        flex-wrap:wrap;
    }
    .row-1 h2{
        margin-bottom: 15px;
    }
    /* sau anh 2 */
    .banner-2{
        margin: 100px 0;
        height: 1000px;
        display: flex;
        flex-direction: column;
    }
    .row-3{
    width: auto;
    height: 60%;
    background-image: url(anh3.jpg);
    background-position: center;
    background-size: cover;
    }
    .row-4{
    width: auto;
    height: 40%;
    background-image: url(anh10.jpg);
    background-position: center;
    background-size: cover;
    }
    .row-41{
        margin-left: 7%;
    }
    .row-421 img{
        width: 50px;
        height: 50px;
        margin: 25px ;
        border-radius: 50%;
    }
    /* sau anh 3-4 */
    .banner-3{
        margin: 0 5px;
        padding:0;
        height: auto;
    }
    /*  */
    .banner-4{
        margin: 100px 0 ;  
    }
    .new-z{
        padding: 5px;
        height: auto;
        display: flex;
    }
    .input-1{
        display: block;
    }
    .input-1 input{
        width: 99%;
        margin: 10px 0;
        padding: 10px 5px;
        border-radius: 5px;
        border:1px solid #ced4da;
    }
    textarea{
        padding: 5px;
    }
    .new-s{
        text-align: left;
        margin-left: 15%;
    }
    /* ket thuc */
    .end{
        background-color: black;
        width: 100%;
        height: auto;
    }
    .end-1{
        display: flex;
        margin:0 200px;
        padding-top: 30px;
    }
    .end-1{
        display: block;
        margin:0 20px;
        /* padding-top: 30px; */
    }
    .end-11, .end-12, .end-13, .end-14{
        width: 100%;
        color: white;
        margin-left: 1%;
    }
    button{
        margin-right: -100px;
    }
}