.Dangnhap{
   
    .link-dk{
        .btn{
            padding: 0px;
        }
      
       background:#0069d9 ;
       height: 40px;
       border:#0069d9;
       color: white;
       padding: 0px;
       
     }
     .link-dk:hover{
        
        color: #8ebff0;
       }
}