.conten-dk{
    display: flex;
    justify-content: center;

    .link-dk{
        .btn{
            padding: 0px;
        }
      
       background:#0069d9 ;
       height: 40px;
       border:#0069d9;
       color: white;
       padding: 0px;
       
     }
     .link-dk:hover{
        
        color: #8ebff0;
       }

    .boder{
        border-left:  solid #ddd;
        height: 20px;
        margin: 10px 10px;
        margin-left: -10px;
        
    }
}