.container {
    height: 300px;
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
}

.item-1 {
    border: 1px solid red;
}

.item-2 {
    border: 1px solid red;
}